.full{
    background-color: grey;
    width: 700px;
    height: 700px;
}

.not{
    background-color: blue;
    width:100px;
    height:40px;
    position: absolute;
}

.positon-top-right{
    position: absolute;
    top: 40px; 
    right: 40px;
}

.positon-top-left{
    position: absolute;
    top: 40px; 
    left: 40px;
}

.position-center{
    top: 50%;
    left: 50%;
}